body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #322f2c;
	color: aliceblue;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
h2 {
	color: rgb(222, 236, 151);
}
/* acc */

.acc {
	max-width: 500px;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
}
.acc-item {
	border: 1px solid rgb(222, 236, 151);
	overflow: hidden;
}
.acc-label {
	display: block;
	padding: 10px 15px;
	color:burlywood;
	transition: background .2s ease-out;
	
}
.acc-label:hover {
	background-color: rgb(222, 236, 151);
	color: #322f2c;
}
input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
input:checked ~ .acc-item-content {
	max-height: 100vh;
	padding: 1em;
}

.acc-item-content {
	display: flex;
	align-items: center;
	transition: all 0.35s;
	/* display: none; */
}
.acc-item-content img {
	width: 50%;
	margin: 0 auto;
}